:root .container-1NXEtd, .sidebar-1tnWFu , .scroller-1ox3I2
{
    --dark-primary: #000000;
    --dark-secondary: #050505;
    --dark-secondary-alt: #080808;
    --dark-bright: #0b0b0b;
    --roundmoled-background: #142339;
    --popout-activeborders: #1f1f1f;
    background-color: var(--dark-secondary);
    border-radius: 10px;
}