/**
 * @name Darker-Theme
 * @version 1.0
 * @description A smoother dark mode for discord
 * @author NupNipz#3849
 * @source https://github.com/NupNipz/Darker-Theme
 */

 @import url(https://raw.githack.com/NupNipz/Darker-Theme/main/HoriGuildBar/dist/TopGuildList.theme.css);

.icon-3D60ES {
  color: #bb86fc;
}