/**
 * @name Darker-Theme
 * @version 1.0
 * @description A smoother dark mode for discord
 * @author NupNipz#3849
 * @source https://github.com/NupNipz/Darker-Theme
 */

 @import url("https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css");

 
.icon-3D60ES {
  color: #7300ff;
}