
/**
  * @name Darker-Theme
  * @author NupNipz#3849
  * @version 1.0
  * @description Darker Theme For Discord By NupNipz
  * @source https://github.com/DevEvil99/DarkPlus-Discord-Theme
*/


.icon-3D60ES {
  color: #bb86fc;
}