/**
 * @name Darker-Theme
 * @version 1.0
 * @description A smoother dark mode for discord
 * @author NupNipz#3849
 * @source https://github.com/NupNipz/Darker-Theme
 */

 @import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);
 
.icon-3D60ES {
  color: #bb86fc;
}