/*                                                                                             .         .                                                                           
8 888888888o.      ,o888888o.     8 8888      88 b.             8 8 888888888o.            ,8.       ,8.           ,o888888o.     8 8888         8 8888888888   8 888888888o.     
8 8888    `88.  . 8888     `88.   8 8888      88 888o.          8 8 8888    `^888.        ,888.     ,888.       . 8888     `88.   8 8888         8 8888         8 8888    `^888.  
8 8888     `88 ,8 8888       `8b  8 8888      88 Y88888o.       8 8 8888        `88.     .`8888.   .`8888.     ,8 8888       `8b  8 8888         8 8888         8 8888        `88.
8 8888     ,88 88 8888        `8b 8 8888      88 .`Y888888o.    8 8 8888         `88    ,8.`8888. ,8.`8888.    88 8888        `8b 8 8888         8 8888         8 8888         `88
8 8888.   ,88' 88 8888         88 8 8888      88 8o. `Y888888o. 8 8 8888          88   ,8'8.`8888,8^8.`8888.   88 8888         88 8 8888         8 888888888888 8 8888          88
8 888888888P'  88 8888         88 8 8888      88 8`Y8o. `Y88888o8 8 8888          88  ,8' `8.`8888' `8.`8888.  88 8888         88 8 8888         8 8888         8 8888          88
8 8888`8b      88 8888        ,8P 8 8888      88 8   `Y8o. `Y8888 8 8888         ,88 ,8'   `8.`88'   `8.`8888. 88 8888        ,8P 8 8888         8 8888         8 8888         ,88
8 8888 `8b.    `8 8888       ,8P  ` 8888     ,8P 8      `Y8o. `Y8 8 8888        ,88',8'     `8.`'     `8.`8888.`8 8888       ,8P  8 8888         8 8888         8 8888        ,88'
8 8888   `8b.   ` 8888     ,88'     8888   ,d8P  8         `Y8o.` 8 8888    ,o88P' ,8'       `8        `8.`8888.` 8888     ,88'   8 8888         8 8888         8 8888    ,o88P'  
8 8888     `88.    `8888888P'        `Y88888P'   8            `Yo 8 888888888P'   ,8'         `         `8.`8888.  `8888888P'     8 888888888888 8 888888888888 8 888888888P'     
        __        _____   
       /  |      / ___ `. 
 _   __`| |     |_/___) | 
[ \ [  ]| |      .'____.' 
 \ \/ /_| |_  _ / /_____  
  \__/|_____|(_)|_______| 


████████╗██╗  ██╗███████╗███╗   ███╗███████╗    ██╗   ██╗ █████╗ ██████╗ ███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝    ██║   ██║██╔══██╗██╔══██╗██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗      ██║   ██║███████║██████╔╝███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝      ╚██╗ ██╔╝██╔══██║██╔══██╗╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗     ╚████╔╝ ██║  ██║██║  ██║███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝      ╚═══╝  ╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝
themevarsp
***************************************************************************************/
:root{
    --dark-primary: #000000;
    --dark-secondary: #050505;
    --dark-secondary-alt: #080808;
    --dark-bright: #0b0b0b;
    --roundmoled-background: #142339;
    --popout-activeborders: #1f1f1f;
}

/****************************************************************************************       
███╗   ███╗██╗███████╗ ██████╗
████╗ ████║██║██╔════╝██╔════╝
██╔████╔██║██║███████╗██║     
██║╚██╔╝██║██║╚════██║██║     
██║ ╚═╝ ██║██║███████║╚██████╗
╚═╝     ╚═╝╚═╝╚══════╝ ╚═════╝
miscsp
****************************************************************************************/
/* Loading glow effect */
.content-3AIQZv{ position: relative; overflow: hidden; border-radius: 8px; border: none; transform:scale(1); background:rgba(0, 0, 0, .85);    transition:250ms; }
.content-3AIQZv::before{    content:''; position: absolute; top: 38%;   left: 50%;  transform: translate(-50%, -50%);   width: 15%; height: 15%;    box-shadow: rgba(255, 255, 255, .49) 0px 19px 98px, rgba(84, 161, 192, .2) 0px 15px 62px;   }

/* Stream buttons in channel list*/
.button-1EGGcP.buttonColor-3bP3fX:hover, .button-1EGGcP .buttonColor-3bP3fX:hover{
    background-color:var(--brand-experiment);
}

/* Goosemod store tweak */
.gm-store-card{
    background-color:var(--dark-bright) !important;
    border-radius:15px !important;
}

.gm-store-card:hover{
    background-color:var(--dark-primary);
    border:solid var(--brand-experiment);
    transition:all 250ms;
}

.gm-store-card > :nth-child(1){
    border-radius: 15px 15px 0 0 !important;
}

.container-2oNtJn{
    border-radius:10px !important;
    background-color:var(--dark-bright) !important;
}

/* goosemod spotify tweak */
.gm-spotify-controls-album-image img{
    transform:scale(0.8);
    border-radius:25px;
}

button.gm-spotify-controls-button{
    display:none;  
}

.gm-spotify-controls-info-box{
    max-width: calc(100% - 4.7em);
}
.gm-spotify-controls-player:hover .gm-spotify-controls-info-box{
    max-width: calc(100% - 7.5em);
    transition:250ms
}

.gm-spotify-controls-player:hover button.gm-spotify-controls-button{
    display:inline;

}

.gm-spotify-controls-playback-bar{
        background-image: linear-gradient(rgba(30,215,96), rgba(30,215,96)), linear-gradient(var(--background-primary), var(--background-primary));
}


/* BetterDiscord cards change */

.bd-addon-list .bd-addon-card{
    border-radius: 15px;
    background-color: var(--dark-bright);
}

.bd-addon-list .bd-addon-card:hover{
    background-color:var(--dark-secondary);
    transition: 250ms;
}

.bd-addon-list .bd-addon-header{
    background-color:var(--dark-secondary);
}

.bd-search-wrapper{
    border-radius:7px;
    background-color:var(--roundmoled-background);
}

.bd-select .bd-select-options{
    border-radius:12px;
    background-color:var(--dark-bright);
}

/*  Spotify betterdiscord  */

.barText-lmqc5O{
    display:none;
}

.container-6sXIoE:hover .barText-lmqc5O{
    display:flex;
}

/* Avatar zoom on hover  Special thanks to Nao Tomori#1166 from PC discord*/
.avatar-2e8lTP:hover{
    transform:scale(1.6);
    border-radius:5px !important;
    background-color:var(--roundmoled-background) !important;
    border:solid;
    border-color:var(--roundmoled-background) !Important;
    border-width:0.04cm;
    /* margin-top:-25%;
    margin-left:30%; */ /* idk why these were on, it moves the avatar to middle of the screen or at least trys to*/
}
.avatar-2e8lTP{
transition:250ms;
}
.avatarHintInner-2HUAWj{
    opacity:0;
}

.avatar-2e8lTP:hover .avatarHint-k7pYop > foreignObject {
    mask: none !important;
} 

.avatar-2e8lTP:hover .mask-1FEkla > foreignObject { 
    mask: none !important; 
    border-radius:5px;
}

/* Locked channel badge */
[d="M21.025 5V4C21.025 2.88 20.05 2 19 2C17.95 2 17 2.88 17 4V5C16.4477 5 16 5.44772 16 6V9C16 9.55228 16.4477 10 17 10H19H21C21.5523 10 22 9.55228 22 9V5.975C22 5.43652 21.5635 5 21.025 5ZM20 5H18V4C18 3.42857 18.4667 3 19 3C19.5333 3 20 3.42857 20 4V5Z"]{
    fill:#FAA81A;
}

/* Misc loading popout */
.loadingPopout-1feYe_
{
    border-radius:15px;
    background-color:var(--dark-bright);
}

/* hide role circle unless hover on role */  
.roleCircle-1EgnFN{
    width:0px;
    transition: 0.2s ease;
}

.role-2TIOKu:hover > .roleCircle-1EgnFN{
    width: 12px;
}
/* Better roles by Bowser65#1337*/

.role-2TIOKu {
  position: relative;
  overflow: hidden;
  border-radius:8px;
  border: none;
  padding: 5px;
  color:#fff;
  font-size:12.7px;
}

.roleCircle-1EgnFN::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: .38;
    
  pointer-events: none;
}

.footer-1fjuF6 {
  border-top: none;
}


/* Misc view role as server bar */

.notice-2olXi7{
    margin-top:10px;
    margin-right:10px;
    border-radius:15px;
}

/* user popout and emoji details on click borders*/
.userPopout-2j1gM4
{
    border: solid var(--popout-activeborders);
    border-radius: 15px;
}

/* Server boost modal */
.theme-dark .perksModal-fSYqOq
{
    background-color:var(--dark-primary);
}

.toolbar-3_r2xA a {
  display: none;
}

::selection {
    background-color:rgb(70, 124, 146) !important;
}

.wrapper-2vIMkT{
    background-color:var(--dark-secondary-alt);
    border: solid var(--popout-activeborders);
    border-radius:8px;
}

/* chat textarea bg */

.scrollableContainer-15eg7h
{
    border-radius:15px;
    background-color:var(--channeltextarea-background);
    border: solid var(--popout-activeborders);
}

.channelTextArea-1FufC0{
    background-color:transparent;
}

.replyBar-1oi75v, .threadSuggestionBar-3ExSyc, .attachedBars-2BCP3l
{
    /* background-color:var(--dark-primary);*/
    background-color: var(--dark-secondary-alt);
    border-radius:25px;
    margin-bottom:3px;
}
/* .emojiItemDisabled-1FvFuF {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
} */

/****************************************************************************************

██████╗ ██╗███████╗ ██████╗ ██████╗ ██████╗ ██████╗     ██╗   ██╗ █████╗ ██████╗ ███████╗
██╔══██╗██║██╔════╝██╔════╝██╔═══██╗██╔══██╗██╔══██╗    ██║   ██║██╔══██╗██╔══██╗██╔════╝
██║  ██║██║███████╗██║     ██║   ██║██████╔╝██║  ██║    ██║   ██║███████║██████╔╝███████╗
██║  ██║██║╚════██║██║     ██║   ██║██╔══██╗██║  ██║    ╚██╗ ██╔╝██╔══██║██╔══██╗╚════██║
██████╔╝██║███████║╚██████╗╚██████╔╝██║  ██║██████╔╝     ╚████╔╝ ██║  ██║██║  ██║███████║
╚═════╝ ╚═╝╚══════╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚═════╝       ╚═══╝  ╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝
dcvarsp

****************************************************************************************/

:root.theme-dark 
{
    --background-tertiary: #2A2B2F;
    --background-secondary: #18191D; /* guild folder border background */
    --background-secondary-alt: var(--dark-primary);; /* change it and see for yourself */
    --background-primary: var(--dark-primary);; /* primary background color, full amoled black  */
    --channeltextarea-background: #070b10; /* color of your chat bar */
    --background-accent: var(--brand-experiment); /* discords accent color (default) */
    --background-message-hover: transparent;
    --background-modifier-hover: #36559138;
    --background-modifier-active: #36559138;
    --background-modifier-selected: #406abb38;
    --background-floating: var(--dark-primary);; /* userpopout background */
    --scrollbar-auto-thumb: var(--brand-experiment);
    --scrollbar-auto-track: #0d0d0d;    
    --scrollbar-thin-thumb: var(--brand-experiment);;
    /* --scrollbar-thin-track: #1a1b20; */ /*Discord has this disabled by default */
}