/**
 * @name Darker-Theme
 * @version 1.0
 * @description A smoother dark mode for discord
 * @author NupNipz#3849
 * @source https://github.com/NupNipz/Darker-Theme
 */

 @import url(https://discord-custom-covers.github.io/usrbg/dist/usrbg.css);

 .theme-dark .toolbar-3_r2xA .icon-18rqoe {
    color: var(--interactive-normal);
  }

.theme-dark .lookOutlined-3yKVGo.colorRed-rQXKgM {
    color: #fff;
  }

.theme-dark .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .theme-dark .top-K_jibn .item-3XjbnG[aria-selected="true"] {
    background-color: var(--tab-selected) !important;
    color: var(--text-normal);
  }

.theme-dark .autocomplete-3l_oCd, .theme-dark .autocomplete-3NRXG8, .theme-light .autocomplete-3l_oCd, .theme-light .autocomplete-3NRXG8 {
    background-color: var(--background-tertiary);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-1);
  }

.theme-dark .selected-3H3-RC {
    background-color: var(--background-modifier-hover);
    border-radius: var(--border-radius-2);
  }

.datePickerHint-17MnA8 .hintValue-1x-flY, .theme-dark .activeButton-LRWFC_ {
    background-color: var(--accent-color) !important;
    color: var(--interactive-selected) !important;
  }

.theme-dark .option-2KkUJO.selected-rZcOL- {
    background-color: var(--background-modifier-hover);
  }

.theme-dark, .theme-light {
    --scrollbar-auto-track: transparent;
  }