/**
 * @name Darker-Theme
 * @version 1.0
 * @description A smoother dark mode for discord
 * @author NupNipz#3849
 * @source https://github.com/NupNipz/Darker-Theme
 */
 @import url("https://raw.githack.com/NupNipz/Darker-Theme/main/Settings/SettingsIcons.css");
 @import url("https://raw.githack.com/NupNipz/Darker-Theme/main/Settings/SettingsModal.css");
 @import url("https://raw.githack.com/NupNipz/Darker-Theme/main/Anims/AnimDiscordMain.css");


 
 :root {
  /** Settings Modal */
  --settingsmodalbackground: 	transparent;			/* default:	transparent		(lowest bg color of changed windows, change it in case another theme turns them transparent)	*/
  --settingsmodalwidth: 		960px;					/* default:	960px			(width of the settings modal, px/vw)															*/
  --settingsmodalheight: 		80vh;					/* default:	80vh			(height of the settings modal, px/vh)															*/

  --dplus-spacing-ui: 10px;
  --dplus-spacing-app: 10px;


}

.icon-3D60ES {
  color: #7300ff;
}
