.Dark-Theme .toolbar-3_r2xA .icon-18rqoe {
    color: var(--interactive-normal);
  }

.Dark-Theme .lookOutlined-3yKVGo.colorRed-rQXKgM {
    color: #fff;
  }

.Dark-Theme .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .Dark-Theme .top-K_jibn .item-3XjbnG[aria-selected="true"] {
    background-color: var(--tab-selected) !important;
    color: var(--text-normal);
  }

.Dark-Theme .autocomplete-3l_oCd, .Dark-Theme .autocomplete-3NRXG8, .theme-light .autocomplete-3l_oCd, .theme-light .autocomplete-3NRXG8 {
    background-color: var(--background-tertiary);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-1);
  }

.Dark-Theme .selected-3H3-RC {
    background-color: var(--background-modifier-hover);
    border-radius: var(--border-radius-2);
  }

.datePickerHint-17MnA8 .hintValue-1x-flY, .Dark-Theme .activeButton-LRWFC_ {
    background-color: var(--accent-color) !important;
    color: var(--interactive-selected) !important;
  }

.Dark-Theme .option-2KkUJO.selected-rZcOL- {
    background-color: var(--background-modifier-hover);
  }

.Dark-Theme, .theme-light {
    --scrollbar-auto-track: transparent;
  }



  /* Blue */
.Dark-Theme {
    --accent-color: #bde6fb !important;
    --background-1: #171d20 !important;
    --background-2: #1e2529 !important;
    --border-color: #273034 !important;
    --background-mentioned: #bde6fb10 !important;
    --background-mentioned-hover: #bde6fb15 !important;
    --background-modifier-hover: #262e33 !important;
    --background-modifier-active: #495a63 !important;
    --text-normal: var(--accent-color) !important;
    --text-muted: #6d8692 !important;
    --text-link: #edf8fe !important;
    --settings-icon-color: #8eacbc !important;
    --tab-selected: #354249 !important;
    --switch: #3d4c53 !important;
    --button-background: #2a3439 !important;
    --button-background-hover: #354249 !important;
    --button-background-active: #4d5f68 !important;
    --button-accent-hover: #d2f3ff !important;
    --button-accent-active: #8dd4f8 !important;
    --button-destructive: #fb7c7c !important;
    --button-destructive-hover: #ff929b !important;
    --button-destructive-active: #fa4a4a !important;
  }