:root {
	--dplus-background: url(https://i.imgur.com/3AiL3yN.png);

	/* Accent colors */
	--dplus-accent-ui: #802060;
	--dplus-accent-ui-hover: #601545;

	/* Fonts */
	--dplus-font-ui: 'Poppins';
	--dplus-font-ui-ja: 'Kosugi';
	--dplus-font-ui-ko: 'Gothic A1';
	--dplus-font-ui-ru: 'PT Sans Caption';
	--dplus-font-ui-vi: 'Raleway';
	--dplus-font-ui-el: 'Commissioner';
	--dplus-font-body: 'Roboto';
	--dplus-font-header: 'Righteous';
	--dplus-font-header-ja: 'RocknRoll One';
	--dplus-font-header-ko: 'Black Han Sans';
	--dplus-font-header-ru: 'Russo One';
	--dplus-font-header-hi: 'Palanquin Dark';
	--dplus-font-header-th: 'Mitr';
	--dplus-font-header-el: 'Alegreya Sans';

	/* Radiuses */
	--dplus-radius-ui: 10px;
	--dplus-radius-avatar: 20%;
	--dplus-radius-server: 20%;

	/* Spacing */
	--dplus-spacing-ui: 10px;
	--dplus-spacing-app: 10px;

	/* Icons */
	--dplus-icon-home-dark: url(https://plusinsta.xyz/discord-plus/assets/discord/home_dark.svg);
	--dplus-icon-home-light: url(https://plusinsta.xyz/discord-plus/assets/discord/home_light.svg);

		/* Icon sizes*/
	--dplus-icon-avatar-chat: 64px;
	--dplus-icon-avatar-list: 32px;
	--dplus-icon-avatar-profile: 80px;
	--dplus-icon-server-sidebar: 48px;
	--dplus-icon-server-list: 32px;

	/* Animation lengths */
	--dplus-anim-short: .2s;
	--dplus-anim-long: .5s;
	--dplus-anim-sticky: .2s;
	--dplus-anim-button: .25s;
	--dplus-anim-button-appear: .25s;

	/* Widths */
	--dplus-channels-width: 240px;
	--dplus-members-width: 240px;
	--dplus-scrollbar-width: 10px;

	/* Scales */
	--dplus-blur-scale: 100;
}

/* Disable animations for reduce-motion */
:root.reduce-motion {
	--dplus-anim-short: 0s;
	--dplus-anim-long: 0s;
	--dplus-anim-sticky: 0s;
	--dplus-anim-button: 0s;
	--dplus-anim-button-appear: 0s;
}

/* Background covers */
	/* Defaults */
:root {
	--dplus-dark-bgc-ui-base: hsla(0, 0%, 0%, 0.74);
	--dplus-dark-bgc-ui-base-hover: hsla(0, 0%, 0%, 0.82);
	--dplus-dark-bgc-ui-card: hsla(0, 0%, 7%, 0.75);
	--dplus-dark-bgc-ui-card-hover: hsla(0, 0%, 15%, 0.50);
	--dplus-dark-bgc-chatmsg: hsla(0, 0%, 0%, 0.74);
	--dplus-dark-bgc-chatmsg-hover: hsla(0, 0%, 0%, 0.82);
	--dplus-dark-bgc-popout: hsla(0, 0%, 0%, 0.75);
	--dplus-dark-bgc-button: hsla(0, 0%, 15%, 0.50);
	--dplus-dark-bgc-button-hover: hsla(0, 0%, 20%, 0.60);
	--dplus-dark-bgc-server-button: hsla(0, 0%, 15%, 0.50);
	--dplus-dark-bgc-server-button-hover: hsla(0, 0%, 20%, 0.60);
	--dplus-light-bgc-ui-base: hsla(0, 0%, 97%, 0.88);
	--dplus-light-bgc-ui-base-hover: hsla(0, 0%, 100%, 0.90);
	--dplus-light-bgc-ui-card: hsla(0, 0%, 93%, 0.75);
	--dplus-light-bgc-ui-card-hover: hsla(0, 0%, 50%, 0.25);
	--dplus-light-bgc-chatmsg: hsla(0, 0%, 97%, 0.88);
	--dplus-light-bgc-chatmsg-hover: hsla(0, 0%, 100%, 0.90);
	--dplus-light-bgc-popout: hsla(0, 0%, 100%, 0.80);
	--dplus-light-bgc-button: hsla(0, 0%, 50%, 0.80);
	--dplus-light-bgc-button-hover: hsla(0, 0%, 40%, 0.50);
	--dplus-light-bgc-server-button: hsla(0, 0%, 95%, 0.75);
	--dplus-light-bgc-server-button-hover: hsla(0, 0%, 100%, 1);
}