.Dark-Theme .toolbar-3_r2xA .icon-18rqoe {
    color: var(--interactive-normal);
  }

.Dark-Theme .lookOutlined-3yKVGo.colorRed-rQXKgM {
    color: #fff;
  }

.Dark-Theme .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .Dark-Theme .top-K_jibn .item-3XjbnG[aria-selected="true"] {
    background-color: var(--tab-selected) !important;
    color: var(--text-normal);
  }

.Dark-Theme .autocomplete-3l_oCd, .Dark-Theme .autocomplete-3NRXG8, .theme-light .autocomplete-3l_oCd, .theme-light .autocomplete-3NRXG8 {
    background-color: var(--background-tertiary);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-1);
  }

.Dark-Theme .selected-3H3-RC {
    background-color: var(--background-modifier-hover);
    border-radius: var(--border-radius-2);
  }

.datePickerHint-17MnA8 .hintValue-1x-flY, .Dark-Theme .activeButton-LRWFC_ {
    background-color: var(--accent-color) !important;
    color: var(--interactive-selected) !important;
  }

.Dark-Theme .option-2KkUJO.selected-rZcOL- {
    background-color: var(--background-modifier-hover);
  }

.Dark-Theme, .theme-light {
    --scrollbar-auto-track: transparent;
  }