/**
 * @name Darker-Theme
 * @version 1.0
 * @description A smoother dark mode for discord
 * @author NupNipz#3849
 * @source https://github.com/NupNipz/Darker-Theme
 */
 @import url("https://raw.githack.com/NupNipz/Darker-Theme/main/Settings/SettingsIcons.css");
 @import url("https://raw.githack.com/NupNipz/Darker-Theme/main/Settings/SettingsModal.css");
 @import url("https://raw.githack.com/NupNipz/Darker-Theme/main/Anims/AnimDiscordMain.css");
 @import url("https://raw.githack.com/NupNipz/Darker-Theme/main/Theme/Darker-Source.theme.css");

 :root {
  /** Settings Modal */
  --settingsmodalbackground: 	transparent;			/* default:	transparent		(lowest bg color of changed windows, change it in case another theme turns them transparent)	*/
  --settingsmodalwidth: 		960px;					/* default:	960px			(width of the settings modal, px/vw)															*/
  --settingsmodalheight: 		80vh;					/* default:	80vh			(height of the settings modal, px/vh)															*/
}

.theme-dark {
  --accent-color: #edf8fe91;
  --background-1: #191c1f;
  --background-2: #191c1f;
  --background-accent: #edf8fe91;
}

.theme-dark {
  /* background */
  --background-primary: var(--background-1);
  --background-primary-alt: var(--background-1);
  --background-secondary: var(--background-1);
  --background-secondary-alt: var(--background-1);
  --background-tertiary: var(--background-2);
  --background-accent-gradient: var(--background-2);
  --background-floating: var(--background-1);
  --background-mentioned: #1e2529;
  --background-mentioned-hover: #273034;
  /* modifiers */
  --background-modifier-selected: var(--accent-color);
  --background-modifier-accent: transparent;
  --background-message-hover: transparent;
  /* text */
  --text-normal: var(--accent-color);
  --text-positive: var(--text-normal);
  --text-muted: #edf8fe91;   
  --text-link: #edf8fe91;    
  --interactive-selected: var(--background-primary);
  --interactive-active: var(--text-normal);
  --interactive-normal: var(--text-normal);
  --channels-default: var(--text-muted);
  --header-primary: var(--text-normal);
  --header-secondary: var(--text-muted);
  /* more */
  --control-brand-foreground: var(--accent-color);
  --info-warning-foreground: var(--accent-color);
  --activity-card-background: var(--background-1);
  --brand-experiment: var(--accent-color) !important;
}