/**
 * @name Top Guild Bar
 * @author NupNipz#3849
 * @version 1.0
 * @description Moves the guild list from the left to the top of Discord.
 * @source https://github.com/NupNipz/Darker-Theme/tree/main/HoriGuildBar
*/
:root {
  --HSL-server-icon-size: 40px;
  --HSL-server-spacing: 10px;
  --HSL-server-direction: column;
}